*{
  box-sizing: border-box;
  margin: 0;
}
body{
 font-family: 'DM Sans', sans-serif;
}
.section1{
  width: 100%;
  height: 40rem;
  /* border: 1px solid blue; */
  background-image: url(Banner\ Home1\ \(1\).webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-wrapper{
    height: 5rem;
    width: 95%;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    padding:15px ;
    display: flex;
    justify-content: space-between;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    height: 2rem;
    /* border: 1px solid black; */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 8px;
    margin-top: 2px;
    padding: 20px 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content1{
    display: flex;
    justify-content: space-between;
  }
  .dropdown-content a {
    /* transition:padding-left 0.5s; */
    font-size: 18px;
    font-weight: 700;
    color: #0f3566ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height:10px;
    transition: padding-left;
  } 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu-icon{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  

.bx-phone{
  color: #12dba2ff;
  font-size: 22px;
}
.bx-phone:hover{
  font-weight: 900;
}
.bxs-cart{
  font-size: 20px;
}
.bxs-cart:hover{
  color: #12dba2ff;

}
.button{
  background-color: #12dba2ff;
  color: white;
  border-radius: 8px;
  width: 15rem;
  height: 3.5rem;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.button i{
  position: absolute;
  font-size: 20px;
  align-items: center;
  font-weight: 500;
}
.button:hover{
  color:#12dba2ff;
  background-color: white;
  border: 1px solid #12dba2ff;
}
ul li a:hover{
  color:#12dba2ff;
}

.dropdown-content a:hover::before { 
    content: '\0336';
    padding: 0 10px;
    width: 50px;
    color: aquamarine;
  }
  
  .dropdown-content a:hover{
    color: aquamarine;
    padding-left: 5px;
  }

  ul{
    list-style: none;
    display: flex;
    gap: 30px;
  }

  ul li a{
  
    color: #0f3566ff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
  }

  
.section1-text button{
  color:#1b6b5aff;
  background-color: white;
  border: none;
  width: 11rem;
  margin-top: 25px;

}
.section1-text button:hover{
  color: white;
  background-color:#12dba2ff;

}
  .section1-text{
    position: absolute;
    max-width: 410px;
    max-height: 600px;
    /* border: 1px solid black; */
    background: transparent;
    color: white;
    margin-top: 22%;
    margin-left: 60px;
  }

  .section2{
    background-image: url(https://assets-global.website-files.com/64da3acb2ea93c58bc5a53a0/64dcad3a38f59b39bdbbca0c_Line%20pattern.svg);
    background-position: 0 70%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 0px;
    height: 30rem;
    width: 100%;
    overflow: hidden ; 
  }

  .section2-div{
    width:250%;
    height: 30rem;
    display: flex;
    gap: 25px;
    
    
    /* border: 2px solid black; */

  }
  .section2-arrow{
    display: flex;
    gap: 10px;
    margin-top: 70px;
  }
  .section2-arrow i{
    padding: 12px;
    font-size:25px;
    color: #0f3566ff;
    border: 2px solid #c1f5e7ff;
    border-radius: 50px;
    transition: border 1s;
  }
  .section2-arrow i:hover{
    border-color: #0f3566ff;
    
  }

.coupon {
  width: 28%;
  height: 32rem;
  padding-top: 70px;
  margin: 0 auto;
  max-width: 600px;
}

.coupon img{
  border-top-right-radius:15px ;
  border-top-left-radius:15px ;
  transition: transform 0.5s;
  
}
.coupon img:hover{
  
  transform: scale(1.02);
}

.container{
  height: 40%;
  margin-top: -2%;
  /* border: 1px solid black; */
  background-color: #f5f5f5ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 4px solid #12dba2ff;
  padding: 30px 10px;
}
.container a{
  text-decoration: none;
  color: #0f3566ff;
  font-weight: 500;

  
}
.container p{
  color: #95989eff;
  font-weight:00;
  line-height: 25px;
}


.section3a{
  display: flex;
  gap: 30px;
}
.section3b{
  width: 27rem;
  flex-direction: column;
  gap: 10px;
}
.people-img-wrap{
  display: flex;
  margin-left: 5px;

}
.person-img{
    width: 55px;
    height: 55px;
    border: 2px solid white;
    border-radius: 100px;
    margin-left: -10px;
    overflow: hidden;

}

.person-img img{
  width: 100%;
}
.section3-40k{
  margin-top: 10px;

}
/* .section3-people-img-wrap{
  width: 100%;
  display: flex;
  overflow: hidden;
} */
.section3-40k span{
  font-size: 30px;
  color: #1b6b5aff;
}







